* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #000;
}

main {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(29, 29, 29),
    rgb(35, 35, 35)
  );
  padding: 20px;
  color: white;

}

section {
  height: 100%;
  width: 350px;
  background-color: transparent;
  border-radius: 10px;
  margin: auto;
  
}

.allreels {
  height: 100%;
  width: 100%;
  overflow: auto;
  /* for snapping effect */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  
}

.allreels::-webkit-scrollbar {
  display: none;
}

.reel {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;

}

.reel video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.reel .bottom {
  width: 100%;
  padding: 30px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), black);
  position: absolute;
  bottom: 0;
}

.bottom .user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.reel .bottom .user button {
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.love {
    color: red;
}

.reel .bottom .user img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.bottom > h3 {
  font-size: 20px;
  font-weight: normal;
}

.right {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;
  width: 40px;
  position: absolute;
  right: 0;
  bottom: 10%;
  transform: translateX(0%);
}

.right h4 {
  cursor: pointer;
}

.right i {
  font-size: 25px;
  font-weight: 500;
}

.right h6 {
  font-size: 15px;
  font-weight: 500;
}

.right > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right > div h4 {
  pointer-events: none;

}

.right > div h6 {
  pointer-events: none;
  
}


.mute {
  background-color: #2f2f2f86;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.mute i {
  font-size: 20px;
  color: white;
  pointer-events: none;
  cursor: pointer;

}

.mute:active {
  scale: 0.95;
}
